name: CI

on:
  push:
    branches:
      - main

  pull_request:

  workflow_dispatch:

permissions: {}

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-python@v5

      - uses: pre-commit/action@v3.0.1

  cargo-test:
    name: cargo test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: Swatinem/rust-cache@v2

      - name: Install Rust toolchain
        run: rustup show

      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest

      - name: Run tests
        run: cargo nextest run --no-fail-fast --all-features

  coverage:
    name: coverage
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: Swatinem/rust-cache@v2

      - name: Install Rust toolchain
        run: rustup show

      - name: Install coverage tools
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-llvm-cov,cargo-nextest

      - name: Generate coverage
        run: cargo llvm-cov nextest --all-features --lcov --output-path lcov.info

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          slug: MatthewMckee4/action-format
          fail_ci_if_error: true
